<h3 id="tittle" class="text-center pt-3">Bienvenido a la aplicación de interceptores - Certus! </h3>

<div class="row text-center d-flex justify-content-center">
    <div class="col-md-4 mt-3 text-center">
    <img width="35%" src="https://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png" alt="">
</div>
</div>

<div class="d-flex justify-content-center mt-4">
<pagination-controls (pageChange)="page_actual = $event"></pagination-controls></div>
    
<div class="container pb-5 mt-4" >
    <table class="rounded">
      <thead>
          <tr class=" border">
              <th class="text-center py-3 w-5" id="title">ID</th>
              <th class="text-center py-3 w-30" id="title">Title</th>
              <th class="text-center py-3 w-65" id="title">Body</th>
  
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage:page_actual }">
              <th class="border px-4 py-3" id="sub">{{post.id}}</th>
              <th class="border px-4 py-3" id="sub">{{post.title}}</th>
              <th class="border px-4 py-3" id="sub">{{post.body}}</th>

            </tr>
      </tbody>
  </table>
  </div>


